---
import BaseLayout from "../layouts/BaseLayout.astro";
import LifeGrid from "../components/LifeGrid.astro";
import Timeline from "../components/Timeline.astro";
---

<BaseLayout title="About">

<LifeGrid />

<div class="about">

<h1>about</h1>

<p>
Hi, I'm Siddharth.
</p>

<p>
I'm a final-year engineering student from India with a strong interest in software engineering, design, Linux, and building thoughtful digital experiences.
</p>

<p>
I enjoy creating software that is simple, useful, and well-designed. Most of my projects begin with curiosity and end with me learning something new.
</p>

<p>
This website is a collection of the things I build, the technologies I enjoy working with, and the creative work I make along the way.
</p>

</div>

<Timeline />

</BaseLayout>
