---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/creative/Gallery.astro";
---

<BaseLayout title="Creative">

<h1>creative</h1>

<Gallery />

</BaseLayout>
