---
const current = Astro.url.pathname;
---

<nav>

<a href={new URL("/", Astro.site).pathname} class="logo">
<strong>sid</strong>
</a>

<div class="links">

<a
href={new URL("/about/", Astro.site).pathname}
class={current.includes("/about") ? "active" : ""}
>
about
</a>

<a
href={new URL("/tech/", Astro.site).pathname}
class={current.includes("/tech") ? "active" : ""}
>
tech
</a>

<a
href={new URL("/creative/", Astro.site).pathname}
class={current.includes("/creative") ? "active" : ""}
>
creative
</a>

<a
href={new URL("/contact/", Astro.site).pathname}
class={current.includes("/contact") ? "active" : ""}
>
contact
</a>

</div>

</nav>
