---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FloatingGrid from "../../components/tech/FloatingGrid.astro";
---

<BaseLayout title="Tech">

<h1>selected work</h1>

<p>
Software, experiments, and things I've built.
</p>

<FloatingGrid />

</BaseLayout>
